# Entorno virtual
env/
venv/
ENV/

# Base de datos local
db.sqlite3

# Archivos estáticos recolectados y subidas de usuarios
staticfiles/
media/

# Configuraciones locales ocultas
.env
*.pyc
__pycache__/
.DS_Store